*{
    font-family : Arial, Arial, Helvetica, sans-serif;
    text-align : center;
}
.slack-username {
    font-size: 24px;
    font-weight: bold;
}
.slack-image {
    max-width: 200px;
    border-radius: 90%;
    margin: 20px auto;
}
.current-day {
    font-size: 20px;
}
.current-utc-time {
    font-size: 18px;
}
.track {
    font-size: 16px;
    font-weight: bolder;
}